# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.pytest_cache/
.mypy_cache/
.coverage

# Flutter / Dart
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub/
build/

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
